@font-face {
    font-family: 'font-icon';
    src: url(../fonts/fonticon/fonticon.eot);
    src: url(../fonts/fonticon/fonticon.eot) format('embedded-opentype'), url(../fonts/fonticon/fonticon.woff2) format('woff2'), url(../fonts/fonticon/fonticon.woff) format('woff'), url(../fonts/fonticon/fonticon.ttf) format('truetype'), url(../fonts/fonticon/fonticon.svg) format('svg');
    font-weight: 400;
    font-style: normal
}

.fi {
    display: inline-block;
    font: normal normal normal 14px/1 font-icon;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fi-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%
}

.fi-2x {
    font-size: 2em
}

.fi-3x {
    font-size: 3em
}

.fi-4x {
    font-size: 4em
}

.fi-5x {
    font-size: 5em
}

.fi-fw {
    width: 1.28571429em;
    text-align: center
}

.fi-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none
}

.fi-ul > li {
    position: relative
}

.fi-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: .14285714em;
    text-align: center
}

.fi-li.fi-lg {
    left: -1.85714286em
}

.fi-border {
    padding: .2em .25em .15em;
    border: solid .08em #eee;
    border-radius: .1em
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

.fi.pull-left {
    margin-right: .3em
}

.fi.pull-right {
    margin-left: .3em
}

.fi-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.fi-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.fi-rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.fi-rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg)
}

.fi-flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.fi-flip-vertical {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1)
}

:root .fi-rotate-90, :root .fi-rotate-180, :root .fi-rotate-270, :root .fi-flip-horizontal, :root .fi-flip-vertical {
    filter: none
}

.fi-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle
}

.fi-stack-1x, .fi-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center
}

.fi-stack-1x {
    line-height: inherit
}

.fi-stack-2x {
    font-size: 2em
}

.fi-inverse {
    color: #fff
}


.fi-user:before { content: '\e800'; } /* '' */
.fi-location:before { content: '\e801'; } /* '' */
.fi-search:before { content: '\e802'; } /* '' */
.fi-logout:before { content: '\e803'; } /* '' */
.fi-star:before { content: '\e804'; } /* '' */
.fi-star-empty:before { content: '\e805'; } /* '' */
.fi-phone:before { content: '\e806'; } /* '' */
.fi-mail:before { content: '\e807'; } /* '' */
.fi-plus:before { content: '\e808'; } /* '' */
.fi-minus:before { content: '\e809'; } /* '' */
.fi-ok:before { content: '\e80a'; } /* '' */
.fi-ok-circled:before { content: '\e80b'; } /* '' */
.fi-eye:before { content: '\e80c'; } /* '' */
.fi-heart-empty:before { content: '\e80d'; } /* '' */
.fi-heart:before { content: '\e80e'; } /* '' */
.fi-home:before { content: '\e80f'; } /* '' */
.fi-edit:before { content: '\e810'; } /* '' */
.fi-trash-empty:before { content: '\e811'; } /* '' */
.fi-pencil:before { content: '\e812'; } /* '' */
.fi-thumbs-up:before { content: '\e813'; } /* '' */
.fi-thumbs-down:before { content: '\e814'; } /* '' */
.fi-calendar:before { content: '\e815'; } /* '' */
.fi-info-circled:before { content: '\e816'; } /* '' */
.fi-picture:before { content: '\e817'; } /* '' */
.fi-camera:before { content: '\e818'; } /* '' */
.fi-right-open:before { content: '\e819'; } /* '' */
.fi-left-open:before { content: '\e81a'; } /* '' */
.fi-clock:before { content: '\e81b'; } /* '' */
.fi-cog:before { content: '\e81c'; } /* '' */
.fi-arrows-cw:before { content: '\e81d'; } /* '' */
.fi-block:before { content: '\e81e'; } /* '' */
.fi-lock:before { content: '\e81f'; } /* '' */
.fi-lock-open:before { content: '\e820'; } /* '' */
.fi-help-circled:before { content: '\e821'; } /* '' */
.fi-cancel-circled:before { content: '\e822'; } /* '' */
.fi-plus-circled:before { content: '\e823'; } /* '' */
.fi-minus-circled:before { content: '\e824'; } /* '' */
.fi-cancel:before { content: '\e825'; } /* '' */
.fi-right-big:before { content: '\e826'; } /* '' */
.fi-left-big:before { content: '\e827'; } /* '' */
.fi-left-dir:before { content: '\e828'; } /* '' */
.fi-right-dir:before { content: '\e829'; } /* '' */
.fi-link:before { content: '\e82a'; } /* '' */
.fi-ok-circled2:before { content: '\e82b'; } /* '' */
.fi-comment:before { content: '\e82c'; } /* '' */
.fi-chat:before { content: '\e82d'; } /* '' */
.fi-bell:before { content: '\e82e'; } /* '' */
.fi-wall:before { content: '\e82f'; } /* '' */
.fi-kitchen:before { content: '\e830'; } /* '' */
.fi-home-cat:before { content: '\e831'; } /* '' */
.fi-hair-dryer:before { content: '\e832'; } /* '' */
.fi-car:before { content: '\e833'; } /* '' */
.fi-air-conditioner:before { content: '\e834'; } /* '' */
.fi-sofa:before { content: '\e835'; } /* '' */
.fi-settings:before { content: '\e836'; } /* '' */
.fi-export:before { content: '\e837'; } /* '' */
.fi-cleaner:before { content: '\e838'; } /* '' */
.fi-plumbing:before { content: '\e839'; } /* '' */
.fi-fireplace:before { content: '\e83a'; } /* '' */
.fi-check-empty:before { content: '\f096'; } /* '' */
.fi-twitter:before { content: '\f099'; } /* '' */
.fi-facebook:before { content: '\f09a'; } /* '' */
.fi-left-circled:before { content: '\f0a8'; } /* '' */
.fi-right-circled:before { content: '\f0a9'; } /* '' */
.fi-linkedin:before { content: '\f0e1'; } /* '' */
.fi-gauge:before { content: '\f0e4'; } /* '' */
.fi-comment-empty:before { content: '\f0e5'; } /* '' */
.fi-chat-empty:before { content: '\f0e6'; } /* '' */
.fi-angle-double-left:before { content: '\f100'; } /* '' */
.fi-angle-double-right:before { content: '\f101'; } /* '' */
.fi-angle-left:before { content: '\f104'; } /* '' */
.fi-angle-right:before { content: '\f105'; } /* '' */
.fi-angle-up:before { content: '\f106'; } /* '' */
.fi-angle-down:before { content: '\f107'; } /* '' */
.fi-mobile:before { content: '\f10b'; } /* '' */
.fi-quote-left:before { content: '\f10d'; } /* '' */
.fi-quote-right:before { content: '\f10e'; } /* '' */
.fi-reply:before { content: '\f112'; } /* '' */
.fi-help:before { content: '\f128'; } /* '' */
.fi-info:before { content: '\f129'; } /* '' */
.fi-attention-alt:before { content: '\f12a'; } /* '' */
.fi-mic:before { content: '\f130'; } /* '' */
.fi-angle-circled-left:before { content: '\f137'; } /* '' */
.fi-angle-circled-right:before { content: '\f138'; } /* '' */
.fi-lock-open-alt:before { content: '\f13e'; } /* '' */
.fi-minus-squared-alt:before { content: '\f147'; } /* '' */
.fi-ok-squared:before { content: '\f14a'; } /* '' */
.fi-instagram:before { content: '\f16d'; } /* '' */
.fi-left:before { content: '\f177'; } /* '' */
.fi-right:before { content: '\f178'; } /* '' */
.fi-skype:before { content: '\f17e'; } /* '' */
.fi-right-circled2:before { content: '\f18e'; } /* '' */
.fi-left-circled2:before { content: '\f190'; } /* '' */
.fi-plus-squared-alt:before { content: '\f196'; } /* '' */
.fi-share:before { content: '\f1e0'; } /* '' */
.fi-whatsapp:before { content: '\f232'; } /* '' */
.fi-address-card-o:before { content: '\f2bc'; } /* '' */
.fi-user-circle-o:before { content: '\f2be'; } /* '' */
.fi-user-o:before { content: '\f2c0'; } /* '' */
